<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tecnologiasmoviles.organizadoruniversitario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vistas.agregarCursoActivity"></activity>
        <activity android:name=".Vistas.NuevaAsignatura" />
        <activity android:name=".Adaptadores.CursoAdapter" />
        <activity android:name=".NotaDetalleAdapter" />
        <activity android:name=".Vistas.NotaDetalle" />
        <activity android:name=".GradeActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".Vistas.HomeActivity" />
        <activity
            android:name=".Vistas.AuthActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>